.logoDarkDefault1Icon {
  height: 34.9px;
  width: 41.7px;
  position: relative;
  object-fit: cover;
}
.navList {
  flex: 1;
  display: inline-block;
  min-width: 95px;
}
.navList,
.navList1,
.navList2,
.navList3,
.navList4 {
  position: relative;
  letter-spacing: 1px;
  line-height: 23px;
  text-transform: uppercase;
  flex-shrink: 0;
}
.navList2,
.navList3,
.navList4 {
  display: inline-block;
}
.navList2,
.navList3 {
  flex: 1;
  min-width: 101px;
}
.navList4 {
  min-width: 109px;
}
.logoDarkDefault1Parent,
.navListLinkSriLankaParent {
  width: 780px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
}
.logoDarkDefault1Parent {
  width: 1490.7px;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper {
  align-self: stretch;
  background-color: var(--color-white);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-95xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
  margin-top: -3px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1125px) {
  .logoDarkDefault1Parent {
    flex-wrap: wrap;
  }
  .frameWrapper {
    padding-left: var(--padding-38xl);
    padding-right: var(--padding-38xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .navListLinkSriLankaParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .frameWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
