.sectionSection {
  margin: 0;
  width: 126.3px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.22px;
  line-height: 48px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 126.3px;
}
.sectionSectionHeading2Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.sectionSection1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.22px;
  line-height: 23px;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray);
}
.frameContainer,
.frameGroup {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 810.3px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs-5);
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-5xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.divblogImage,
.link9781562551Ac23d8e5cbK {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divblogImage {
  height: 173px;
  display: none;
}
.link9781562551Ac23d8e5cbK {
  margin-top: -226px;
  height: 191px;
  max-width: 100%;
  object-fit: cover;
  z-index: 1;
}
.linkSafari,
.travel {
  position: relative;
  line-height: 23px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.travel {
  height: 10px;
  letter-spacing: 1px;
  min-width: 58px;
}
.linkSafari {
  height: 13px;
  font-size: var(--font-size-smi);
  letter-spacing: 2px;
  color: var(--color-black);
}
.safariInAsia,
.sriLankaIs {
  margin: 0;
}
.sriLankaIsContainer {
  height: 35.1px;
  position: relative;
  letter-spacing: 0.22px;
  line-height: 23px;
  color: var(--color-dimgray);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sectionSection2,
.travelParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.travelParent {
  margin-left: -1px;
  padding: 0 0 var(--padding-3xs-9);
  gap: var(--gap-9xl);
}
.sectionSection2 {
  height: 448px;
  overflow: hidden;
  padding: var(--padding-204xl) 0 var(--padding-91xl-9);
  box-sizing: border-box;
  gap: var(--gap-16xl);
  max-width: 100%;
}
.icon,
.travel1 {
  position: relative;
}
.icon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.travel1 {
  letter-spacing: 1px;
  line-height: 10px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 58px;
}
.travelWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.linkThings {
  position: relative;
  letter-spacing: 2px;
  line-height: 13px;
  text-transform: uppercase;
}
.linkThingsToDoInColomboWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  font-size: var(--font-size-smi);
  color: var(--color-black);
}
.colomboIsA,
.destinationThatAttracts,
.tourItBecame {
  margin: 0;
}
.colomboIsAContainer,
.divhcodeBlogSeparator {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.colomboIsAContainer {
  height: 58.1px;
  letter-spacing: 0.22px;
  line-height: 23px;
  display: flex;
  align-items: center;
}
.divhcodeBlogSeparator {
  width: 123px;
  height: 3px;
  background-color: var(--color-black);
}
.colomboIsAGreatPlaceToStParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl-9);
}
.readMore {
  position: relative;
  letter-spacing: 1px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 80.3px;
}
.link {
  width: 111.9px;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-xs) var(--padding-11xs)
    var(--padding-base);
  color: var(--color-black);
}
.frameParent1 {
  flex-direction: column;
  gap: var(--gap-12xl-2);
}
.frameDiv,
.frameParent1,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  color: var(--color-dimgray);
}
.parent {
  height: 441.2px;
  flex-direction: column;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-8xl-3);
  max-width: 100%;
}
.divblogImage1 {
  align-self: stretch;
  height: 173px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.divblogImage1,
.icon1,
.travel2 {
  position: relative;
}
.icon1 {
  margin-top: -214px;
  align-self: stretch;
  height: 191px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.travel2 {
  letter-spacing: 1px;
  line-height: 7px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 58px;
}
.travelContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  color: var(--color-gray);
}
.linkSafari1 {
  position: relative;
  letter-spacing: 2px;
  line-height: 13px;
  text-transform: uppercase;
}
.linkSafariInSriLankaWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xs);
  font-size: var(--font-size-smi);
}
.indianOceanRich,
.sriLankaIs1,
.untouchedNatureJungle {
  margin: 0;
}
.sriLankaIsContainer1 {
  height: 56px;
  position: relative;
  letter-spacing: 0.22px;
  line-height: 23px;
  color: var(--color-dimgray);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.divhcodeBlogSeparator1 {
  height: 3px;
  flex: 1;
  position: relative;
  background-color: var(--color-black);
}
.divhcodeBlogSeparatorWrapper {
  width: 123px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
}
.readMore1 {
  position: relative;
  letter-spacing: 1px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 80.3px;
}
.link1,
.sectionSection3,
.sectionSectionWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.link1 {
  width: 111.9px;
  border: 2px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-xs) var(--padding-11xs)
    var(--padding-base);
}
.sectionSection3,
.sectionSectionWrapper {
  flex-direction: column;
}
.sectionSection3 {
  align-self: stretch;
  height: 448px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-192xl) 0 0;
  gap: var(--gap-3xl);
}
.sectionSectionWrapper {
  padding: 0 var(--padding-7xs) 0 0;
  max-width: 100%;
  color: var(--color-black);
}
.divblogImage2 {
  align-self: stretch;
  height: 173px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.divblogImage2,
.icon2,
.travel3 {
  position: relative;
}
.icon2 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.travel3 {
  height: 8px;
  letter-spacing: 1px;
  line-height: 23px;
  text-transform: uppercase;
  align-items: center;
  min-width: 58px;
}
.group,
.linkSafari2,
.travel3 {
  display: flex;
  flex-shrink: 0;
}
.group {
  margin-top: -263px;
  align-self: stretch;
  height: 221px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  debug_commit: 1de1738;
}
.linkSafari2 {
  height: 13px;
  position: relative;
  letter-spacing: 2px;
  line-height: 23px;
  text-transform: uppercase;
  align-items: center;
}
.southAsia,
.sriLankaIs2,
.weAreSurrounded {
  margin: 0;
}
.sriLankaIsContainer2 {
  align-self: stretch;
  height: 35px;
  position: relative;
  letter-spacing: 0.22px;
  line-height: 23px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.linkSafariInSriLankaParent,
.sriLankaIsAnIslandNationParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sriLankaIsAnIslandNationParent {
  align-self: stretch;
  gap: var(--gap-24xl);
  font-size: var(--font-size-2xs);
  color: var(--color-dimgray);
}
.linkSafariInSriLankaParent {
  width: 266px;
  gap: var(--gap-12xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
  font-size: var(--font-size-smi);
  color: var(--color-black);
}
.sectionSection4,
.sectionSectionParent {
  justify-content: flex-start;
  max-width: 100%;
}
.sectionSection4 {
  height: 448px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-241xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-23xl);
}
.sectionSectionParent {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-31xl);
  grid-template-columns: repeat(4, minmax(253px, 1fr));
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-gray);
  font-family: var(--font-montserrat);
}
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 1486px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-45xl-5);
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-5xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 1300px) {
  .sectionSectionParent {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(253px, 438px));
  }
}
@media screen and (max-width: 800px) {
  .sectionSection2 {
    padding-top: var(--padding-126xl);
    padding-bottom: var(--padding-53xl);
    box-sizing: border-box;
  }
  .sectionSection3,
  .sectionSection4 {
    padding-top: var(--padding-118xl);
    box-sizing: border-box;
  }
  .sectionSection4 {
    padding-top: var(--padding-150xl);
  }
  .sectionSectionParent {
    gap: var(--gap-6xl);
    grid-template-columns: minmax(253px, 1fr);
  }
  .frameParent {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 450px) {
  .sectionSection {
    font-size: var(--font-size-lgi);
    line-height: 38px;
  }
  .sectionSection2 {
    gap: var(--gap-mid);
    padding-top: var(--padding-75xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .frameParent1 {
    gap: var(--gap-base);
  }
  .sriLankaIsAnIslandNationParent {
    gap: var(--gap-2xl);
  }
  .linkSafariInSriLankaParent {
    gap: var(--gap-mini);
  }
  .sectionSection4 {
    gap: var(--gap-2xl);
  }
  .frameParent {
    gap: var(--gap-base);
  }
}
