.heading2 {
  margin: 0;
  width: 220.7px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.22px;
  line-height: 48px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.heading2GetLostInParadiWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.beachOrDive,
.ourIslandIs {
  margin: 0;
}
.ourIslandIsContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.22px;
  line-height: 23px;
  font-family: var(--font-montserrat);
  color: var(--color-dimgray);
}
.frameParent {
  width: 924px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.frameGroup,
.sectionSection,
.sectionSectionInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.sectionSectionInner {
  width: 1500px;
  flex-direction: row;
  justify-content: center;
}
.frameGroup,
.sectionSection {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.sectionSection {
  background-color: var(--color-whitesmoke);
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  padding: var(--padding-11xl) var(--padding-53xl) var(--padding-48xl)
    var(--padding-102xl);
  gap: var(--gap-45xl);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 1125px) {
  .sectionSection {
    gap: var(--gap-13xl);
    padding: var(--padding-xl) var(--padding-17xl) var(--padding-25xl)
      var(--padding-41xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .frameGroup {
    gap: var(--gap-8xl);
  }
  .sectionSection {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading2 {
    font-size: var(--font-size-lgi);
    line-height: 38px;
  }
  .sectionSection {
    gap: var(--gap-base);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
