.bottom {
  align-self: stretch;
  display: none;
}
.divtopHeaderAreaParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 353.1px;
  box-sizing: border-box;
  max-width: 100%;
}
.sectionSection {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 1px;
  line-height: 45px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.sectionSection1 {
  width: 522.9px;
  position: relative;
  letter-spacing: 0.22px;
  line-height: 23px;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.aTourOf,
.andCultureEsna,
.beAStory,
.countryInThe,
.craftOneYourself,
.walkThroughAncient {
  margin: 0;
}
.sectionSectionContainer {
  position: relative;
  letter-spacing: 0.22px;
  line-height: 23px;
}
.sectionSectionHeading1Parent,
.sectionSectionTheJadePParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.sectionSectionTheJadePParent {
  font-size: var(--font-size-2xs);
  color: var(--color-dimgray);
  font-family: var(--font-montserrat);
}
.sectionSectionHeading1Parent {
  gap: 33px;
}
.exploreTours,
.sectionSectionLink {
  display: flex;
  align-items: center;
  justify-content: center;
}
.exploreTours {
  width: 110px;
  position: relative;
  font-size: var(--font-size-2xs);
  letter-spacing: 1px;
  line-height: 23px;
  text-transform: uppercase;
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: center;
  min-width: 110px;
}
.sectionSectionLink {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: 3px 15px;
  background-color: transparent;
  width: 145px;
  box-sizing: border-box;
  flex-direction: row;
}
.sectionSectionLink:hover {
  background-color: rgba(51, 51, 51, 0.09);
  border: 2px solid #333;
  box-sizing: border-box;
}
.frameParent,
.macbookPro1623Inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 36px;
}
.macbookPro1623Inner {
  width: 838.4px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.sectionSectionParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.macbookPro1623,
.macbookPro1623Child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.macbookPro1623Child {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  max-width: 100%;
}
.macbookPro1623 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 851px;
  gap: 49px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 28px;
  color: var(--color-black);
  font-family: var(--font-playfair-display);
}
@media screen and (max-width: 800px) {
  .divtopHeaderAreaParent {
    padding-bottom: 230px;
    box-sizing: border-box;
  }
  .sectionSectionHeading1Parent {
    gap: var(--gap-base);
  }
  .frameParent {
    gap: 18px;
  }
}
@media screen and (max-width: 450px) {
  .sectionSection {
    font-size: 22px;
    line-height: 36px;
  }
  .sectionSectionParent {
    gap: var(--gap-base);
  }
  .macbookPro1623 {
    gap: var(--gap-5xl);
  }
}
